<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="/assets/teacher-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/teacherprofile.css">
</head>

<body>
    {{>teacherheader}}

    <div class="profileContainer">
        <div class="pageContents">
            <div class="heading">
                <h1>Profile</h1>
                </a>
            </div>
        </div>

        {{!-- <div class="image">
            <img class="largeImage" src="/assets/teacher.png" alt="profile">
        </div> --}}

        <div class="circle-image" style="background-image: url('/assets/ProfilePictures/{{displaypicture}}');"></div>
        <div class="fname innercontainer">
            <p class="label inline">Name: </p>
            <p class="content inline">{{name}}</p>
        </div>
        <div class="lname innercontainer">
            <p class="label inline">Phone Number: </p>
            <p class="content inline">{{phone}}</p>
        </div>
        <div class="dept innercontainer">
            <p class="label inline">Department: </p>
            <p class="content inline">{{dept}}</p>
        </div>
        <div class="semester innercontainer">
            <p class="label inline">Teacher ID:</p>
            <p class="content inline">{{tid}}</p>
        </div>
        <div class="section innercontainer">
            <p class="label inline">Year Of Joining: </p>
            <p class="content inline">2003</p>
        </div>
    </div>
</body>

</html>